# Copia este archivo como .env en la raiz para Docker Compose

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=agrega_tu_password_aqui
POSTGRES_DB=gastos_db

# Backend
JWT_SECRET=escribe_aqui_una_clave_super_secreta_en_produccion

# Frontend (accesible desde el navegador)
VITE_API_URL=http://localhost:3001
